BE/environment/.env.*
!/BE/environment/.env.example
BE/node_modules


FE/node_modules/**/*
FE/.expo/*
FE/npm-debug.*
FE/*.jks
FE/*.p8
FE/*.p12
FE/*.key
FE/*.mobileprovision
FE/*.orig.*
FE/web-build/

# macOS
FE/.DS_Store
